h1 {
  margin-top: 1em;
  text-align: center;
  color:rgb(7, 28, 122);
}
footer{
color:rgb(7, 28, 122);
}
.container {
max-width: 800px;
}
.App-header {
  margin: 1em 0;
}
.App-logo {
  max-width: 25em;
  display: block;
  margin: 0 auto;
  }
.App-footer {
  text-align: center;
  margin:2em 0;
  }
